# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Environment variables
.env

# Distribution/build files
build/
dist/
*.egg-info/